@model CambianKPI.DAL.ViewModels.KpiSiteVM
@{
    ViewBag.Title = "CambianKPI";
}

<h2>Children's Services</h2>
<div id="container" class="main-list">
    <div id="main-inner">
        @if (!Model.SitesVM.Any())
        {
            <div class="list-content-div">Welcome to the KPI Data Entry website. You do not currently have access to any locations.</div>
        }
        else
        {
            <div id="main-form">
            <form id="main-site-selection">
                <fieldset>
                    <dl>                        
                        <dt>Week Ending: </dt>
                        <dd>
                                @Html.DropDownList("WeekEndingDate")
                        </dd>
                    </dl>
                </fieldset>
            </form>
            </div>
            
            @* Only display Division header for SysAdmins and Ops Directors *@
            if (ViewBag.LoggedInAs.RoleID == 1 || ViewBag.LoggedInAs.RoleID == 43)
            {
               <div class="list-header-div main">
               <h3>Division Totals</h3>
               <span class="status-bar">
                    <span class="status-bar-label status"><br />Submitted</span>
                    <span class="status-bar-label"><br />Occ</span>
                    <span class="status-bar-label"><br />Occ %</span>
                    <span class="status-bar-label">Occ<br />Change</span>
                    <span class="status-bar-label">Hours<br />Var</span>
                    <span class="status-bar-label"><br />Agency</span>
                    <span class="status-bar-label"><br />Mgr</span>
                    <span class="status-bar-label">Team<br />Ldr</span>
                    <span class="status-bar-label"><br />RCW</span>
                    <span class="status-bar-label"><br />Off-shift</span>
                    <span class="status-bar-label">Off-shift<br />%</span>
                    <span class="status-bar-value-bar">

                    @{ bool wholeModelSubmitted = !Model.SitesVM.Where(s => s.SubmittedDateTime == null).Any(); }
                        
                    @if (wholeModelSubmitted)
                    {
                        <span class="status-bar-value status"><p class="target-reached" title="All Sites have submitted figures for this week"></p></span>
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.Occupancy));
                        @Html.Partial("_SitelistCell", 100 * Model.SitesVM.Sum(s => s.Occupancy) / Model.SitesVM.Sum(s => s.Capacity));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.OccChange));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.ShiftVariance));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.AgencyVariance));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.ManagerVariance));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.TeamLeaderVariance));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.RCWVariance));
                        @Html.Partial("_SitelistCell", Model.SitesVM.Sum(s => s.TotalOffShift));
                        @Html.Partial("_SitelistCell", 100 * Model.SitesVM.Sum(s => s.TotalOffShift) / Model.SitesVM.Sum(s => s.TotalOnShift));
                    }
                    else
                    {
                        <span class="status-bar-value status">@Model.SitesVM.Count(s => s.SubmittedDateTime != null) / @Model.SitesVM.Count</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                        <span class="status-bar-value">-</span>
                    }
                    </span>
                </span>
            </div>
            }
        }
            
        <div class="main-content-wrap">
            @foreach (var region in Model.SitesVM.GroupBy(s => s.RegionName).OrderBy(r => r.Key))
            {
                string nextMainContentStyle = "";
                int subRegionCounter = region.Count();
                <div class="list-header-div">
                    <h3>@region.Key</h3>
                    <span class="status-bar">

                        <span class="status-bar-label status"><br />Submitted</span>
                        <span class="status-bar-label"><br />Occ</span>
                        <span class="status-bar-label"><br />Occ %</span>
                        <span class="status-bar-label">Occ<br />Change</span>
                        <span class="status-bar-label">Hours<br />Var</span>
                        <span class="status-bar-label"><br />Agency</span>
                        <span class="status-bar-label"><br />Mgr</span>
                        <span class="status-bar-label">Team<br />Ldr</span>
                        <span class="status-bar-label"><br />RCW</span>
                        <span class="status-bar-label"><br />Off-shift</span>
                        <span class="status-bar-label">Off-shift<br />%</span>
                        <span class="status-bar-value-bar">
                        
                        @{bool allSubregionsSubmitted = !region.Any(s => s.SubmittedDateTime == null);}

                        @if (allSubregionsSubmitted)
                        {
                            <span class="status-bar-value status"><p class="target-reached" title="All Sites have submitted figures for this week"></p></span>
                            @Html.Partial("_SitelistCell", region.Sum(s => s.Occupancy));
                            @Html.Partial("_SitelistCell", 100 * region.Sum(s => s.Occupancy) / region.Sum(s => s.Capacity));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.OccChange));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.ShiftVariance));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.AgencyVariance));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.ManagerVariance));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.TeamLeaderVariance));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.RCWVariance));
                            @Html.Partial("_SitelistCell", region.Sum(s => s.TotalOffShift));
                            @Html.Partial("_SitelistCell", 100 * region.Sum(s => s.TotalOffShift) / region.Sum(s => s.TotalOnShift));
                        }
                        else
                        {
                            <span class="status-bar-value status">@region.Count(s => s.SubmittedDateTime != null) / @region.Count()</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                            <span class="status-bar-value">-</span>
                        }
                        </span>
                    </span>

                    @if (region.Any(s => s.UserCanEdit == true))
                    {
                        <button>-</button>
                        nextMainContentStyle = " style=display:block;";
                    }
                    else
                    {
                        <button>+</button>
                    }
                </div>
                <div class="main-content-wrapper"@{@nextMainContentStyle}>
                @foreach (var subregion in region.GroupBy(s => s.SubRegionName).OrderBy(sr => sr.Key))
                {
                    string nextInnerContentStyle = "";
                    int siteCount = subregion.Count();
                    <div class="list-subhead-div">
                        <h4>@subregion.Key</h4>
                        @if (subregion.Where(s => s.SubmittedDateTime.HasValue).Any())
                        {
                            bool allSitesSubmitted = false;

                            if (!subregion.Any(s => s.SubmittedDateTime == null))
                            {
                                allSitesSubmitted = true;
                            }
                            
                            <span class="status status-label">
                            @if (allSitesSubmitted)
                            {
                                <p class="target-reached" title="All Sites have submitted figures for this week"></p>
                            }
                            else
                            {
                                <text>@subregion.Count(s => s.SubmittedDateTime != null) / @subregion.Count()</text>
                            }
                            </span>
                           
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.Occupancy));
                            @Html.Partial("_SitelistCell", 100 * subregion.Sum(s => s.Occupancy) / subregion.Sum(s => s.Capacity));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.OccChange));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.ShiftVariance));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.AgencyVariance));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.ManagerVariance));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.TeamLeaderVariance));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.RCWVariance));
                            @Html.Partial("_SitelistCell", subregion.Sum(s => s.TotalOffShift));
                            @Html.Partial("_SitelistCell", 100 * subregion.Sum(s => s.TotalOffShift) / subregion.Sum(s => s.TotalOnShift));
                        }
                        
                        @if (subregion.Any(s => s.UserCanEdit == true))
                        {
                            <button class="subhead-button">-</button>
                            nextInnerContentStyle = " style=display:block;";  
                        }
                        else
                        {
                            <button class="subhead-button">+</button>  
                        }
                    </div>
                    <div class="inner-content-wrapper"@{@nextInnerContentStyle}>
                    @foreach (var site in subregion.OrderBy(s => s.SiteName))
                    {
                    <div class="list-content-div">
                        <ul class="list-content">
                            <li>
                                <div class="label-wrapper">
                                    @{ var higherLabelClass = site.SubmittedDateTime.HasValue ? "" : " higher-label"; }
                                    <label class="title-label@(higherLabelClass)">
                                        @if (site.UserCanEdit)
                                        {
                                            <a href="/Site/KpiEntry/@site.SiteID@(ViewBag.WeekEndingUrlParam)">@site.SiteName</a>
                                        }
                                        else
                                        {
                                            <text>@site.SiteName</text>
                                        }
                                    </label>
                                </div>
                                <div class="status-bar">
                                    @if (site.SubmittedDateTime.HasValue)
                                    {
                                        <p class="target-reached" title="@(string.Format("Submitted by {0} on {1:dd/MM/yyyy} at {1:HH:mm}", site.SignedOffBy, site.SubmittedDateTime))"></p>
                                       
                                        @* Use ViewDataDictionary when passing nullable types into a partial view. This prevents the view engine *@
                                        @* from trying to pass the original page model when it encounters a null value. *@
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.Occupancy));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.OccPercent));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.OccChange));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.ShiftVariance));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.AgencyVariance));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.ManagerVariance));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.TeamLeaderVariance));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.RCWVariance));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.TotalOffShift));
                                        @Html.Partial("_SitelistCell", new ViewDataDictionary(site.OffShiftPercent));

                                    }
                                </div>
                            </li>
                        </ul>
                    </div>
                    }
                    </div>
                }
            </div>
            }
        </div>
    </div>
    
    <div style="visibility:hidden;">@Html.ActionLink("Click to go to generate spreadsheets", "Index", "Entry", null, null)</div>

</div>

<script type="text/javascript">
    $(function () {
        $('.list-header-div button, .list-subhead-div button').on("click", function () {
            thisButton = $(this);
            if (!thisButton.hasClass("subhead-button")) {
                relevantContainer = thisButton.closest('.list-header-div').next('.main-content-wrapper');
            }
            else {
                relevantContainer = thisButton.closest('.list-subhead-div').next('.inner-content-wrapper');
            }
            if (thisButton.html() == '+') {
                relevantContainer.slideDown(
                    300,
                    function () {
                        thisButton.html('-');
                    }
                );
            } else {
                relevantContainer.slideUp(
                    300,
                    function () {
                        thisButton.html('+');
                    }
                );
            }
        });
    })
</script>
