@using CambianKPI.DAL.Models
@model CambianKPI.DAL.ViewModels.KpiSiteScoresMeasuresVM
@{ SystemUser user = ViewBag.LoggedInAs; }
<div id="main-form">
    <form id="main-site-selection">
        <fieldset>
            <dl>                        
                <dt>Week Ending: </dt>
                <dd>
                        @* using the LastSunday date calculated in the controller to only display the most recent date *@
                        @* <option value="@ViewBag.LastSunday.ToString("yyyy-MM-dd")">@ViewBag.LastSunday.ToString("dd/MM/yyyy")</option> *@
                        @Html.DropDownList("WeekEndingDate")
                </dd>

                <dt class="details">Show Guidance</dt>
                <dd class="details">
                    <label for="yes">Yes</label><input type="radio" class="show-detail" name="detail" id="yes" value="yes" />
                    <label for="no">No</label><input type="radio" class="show-detail" name="detail" id="no" value="no" checked="checked" />
                </dd>

                @{
                //First work out which approval levels have been signed off
                var approvalLevel0SignedOff = false;
                var approvalLevel3SignedOff = false;
                var approvalLevel2SignedOff = false;
                foreach (var approval in Model.ApprovalObjects)
                {
                    if (approval.SignoffLevel == 0 && approval.SignoffStatus == 2)
                    {
                        approvalLevel0SignedOff = true;
                        if (approval.Comment != null)
                        {
                            <style type="text/css">.submission .comment, .submission .comment-show {display: block !important;}</style>    
                        }
                    }
                    if (approval.SignoffLevel == 3 && approval.SignoffStatus == 2)
                    {
                        approvalLevel3SignedOff = true;
                        if (approval.Comment != null)
                        {
                            <style type="text/css">.rm-approved .comment, .rm-approved .comment-show {display: block !important;}</style>    
                        }
                        <style type="text/css">.list-content li span.kpi-score:hover {cursor: default;}</style>
                        <script type="text/javascript">
                            formEditable = false;
                        </script>
                    }
                    if (approval.SignoffLevel == 2 && approval.SignoffStatus == 2)
                    {
                        approvalLevel2SignedOff = true;
                    }

                }
                }
                <dt class="approvals">Approvals
                    @if (!approvalLevel0SignedOff)
                    {
                        if (!@Model.allScoresFilled || @Model.commentsMissing)
                        {<span id="form-submission-note"> This Form can not be submitted yet as not all the Scores/Comments are filled/valid.</span>}
                        else if (!@Model.allScoresValid)
                        {<span id="form-submission-note"> This Form is now ready to Submit, however be aware that some values have failed validation.</span>}
                        else
                        {<span id="form-submission-note"> This Form is now ready to Submit.</span>}
                    }
                </dt>
                <dd class="approvals">
                    <dl>
                        <span class="main-approvals-container">
                            <script type="text/javascript">
                                formEditable = true;
                            </script>
                            @{
                                if (approvalLevel0SignedOff)
                                {
                                    foreach (var approval in Model.ApprovalObjects)
                                    {
                                        if (approval.SignoffLevel == 0)
                                        {
                                            <dt class="submission"><label for="submitted">Submit</label></dt>
                                            <dd class="submission inactive">
                                                <span class="input-container">
                                                    <input type="checkbox" class="approvals submitted" name="submitted" id="submitted-input" value="submitted" disabled="disabled">
                                                    <img src="/Content/tick.jpg" class="icon-img submitted" />
                                                </span>
                                                <p class="submitted">Submitted by @approval.SubmittedByUser.Fullname on @approval.SubmittedDateTime.ToString("dd-MM-yyyy") at @approval.SubmittedDateTime.ToString("HH:mm")</p>
                                                <div class="comment">
                                                    <img src="/Content/comment_16.png" />
                                                <p class="comment-show">@approval.Comment</p>
                                                <p class="comment-hide">@approval.Comment</p>
                                                <button class="show-comment">+</button>
                                                </div>
                                            </dd>
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.User == Model.Site.SiteManagerID)
                                    {
                                        
                                        <dt class="submission"><label for="submitted">Submit</label></dt>
                                        <dd class="submission">
                                            <span class="input-container">
                                                @if (Model.allScoresFilled)
                                                {
                                                    <input type="checkbox" class="approvals" id="submitted-input" value="submitted" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" class="approvals to-enable" id="submitted-input" value="submitted" disabled="disabled" />
                                                }
                                                <img src="" class="icon-img" />
                                            </span>
                                            <p class="main-signoff"></p>
                                            
                                            <div class="comment">
                                                <img src="/Content/comment_16.png" />
                                                <p class="comment-show">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 0)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <p class="comment-hide">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 0)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <button class="show-comment">+</button>
                                            </div>
                                        </dd>
                                    }
                                    else
                                    {
                                        
                                        <dt class="submission inactive"><label for="submitted">Submit</label></dt>
                                        <dd class="submission inactive">
                                            <span class="input-container">
                                                <input type="checkbox" class="approvals" name="submitted" id="submitted-input" value="submitted" disabled="disabled">
                                                <img src="" class="icon-img" />
                                            </span>
                                            <p class="main-signoff"></p>
                                            <div class="comment">
                                                <img src="/Content/comment_16.png" />
                                                <p class="comment-show">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 0)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <p class="comment-hide">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 0)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <button class="show-comment">+</button>
                                            </div>
                                        </dd>
                                    }
                                }
                            }
                        </span>
                        
                        @*
                        <span class="main-approvals-container">
                            @{
                                if (approvalLevel3SignedOff)
                                {
                                    foreach (var approval in Model.ApprovalObjects)
                                    {
                                        if (approval.SignoffLevel == 3)
                                        {
                                            <dt class="rm-approved"><label for="rm-approved">Regional Manager Approve</label></dt>
                                            <dd class="rm-approved inactive">
                                                <span class="input-container">
                                                    <img src="/Content/tick.jpg" class="icon-img submitted" />
                                                </span>
                                                <p class="submitted main-signoff">Approved by @approval.SubmittedByUser.Fullname on @approval.SubmittedDateTime.ToString("dd-MM-yyyy") at @approval.SubmittedDateTime.ToString("HH:mm")</p>
                                                
                                                <div class="comment">
                                                    <img src="/Content/comment_16.png" />
                                                    <p class="comment-show">@approval.Comment</p>
                                                    <p class="comment-hide">@approval.Comment</p>
                                                    <button class="show-comment">+</button>
                                                </div>
                                            </dd>
                                        }
                                    }
                                }
                                else
                                {
                                    if (ViewBag.User == Model.Site.KpiRegion.RegionManagerID)
                                    {
                                        if (approvalLevel0SignedOff)
                                        {
                                            
                                            <dt class="rm-approved"><label for="rm-approved">Regional Manager Approve</label></dt>
                                            <dd class="rm-approved">
                                                <span class="input-container">
                                                    @if (Model.allScoresFilled == true && Model.commentsMissing == false && Model.allScoresValid == true)
                                                    {
                                                        <button class="approvals" id="rm-approved-input" value="rm-approved" >Approve</button>
                                                        <button class="reject">Reject</button>
                                                    }
                                                    <img src="" class="icon-img" />
                                                </span>
                                                <p class="main-signoff"></p>
                                                <div class="comment">
                                                <img src="/Content/comment_16.png" />
                                                <p class="comment-show">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <p class="comment-hide">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <button class="show-comment">+</button>
                                            </div>
                                            </dd>
                                        }
                                        else
                                        {
                                            
                                            <dt class="rm-approved inactive"><label for="rm-approved">Regional Manager Approve</label></dt>
                                            <dd class="rm-approved inactive">
                                                <p class="main-signoff"></p>
                                                <div class="comment">
                                                <img src="/Content/comment_16.png" />
                                                <p class="comment-show">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <p class="comment-hide">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <button class="show-comment">+</button>
                                            </div>
                                            </dd>
                                        }
                                    }
                                    else
                                    {
                                        <dt class="rm-approved inactive"><label for="rm-approved">Regional Manager Approve</label></dt>
                                        <dd class="rm-approved inactive">
                                            <p class="main-signoff"></p>
                                            <div class="comment">
                                                <img src="/Content/comment_16.png" />
                                                <p class="comment-show">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <p class="comment-hide">
                                                @foreach (var approval in Model.ApprovalObjects)
                                                {
                                                    if (approval.SignoffLevel == 3)
                                                    {
                                                        @approval.Comment
                                                    }
                                                }
                                                </p>
                                                <button class="show-comment">+</button>
                                            </div>
                                        </dd>
                                    }
                                }
                            }
                                 
                        </span> *@
                        
                    </dl>
                </dd>
                <!-- END NEW -->
            </dl>
        </fieldset>
    </form>
</div>