@using ActiveCareForms
@using CambianKPI.DAL.Models 
@model CambianKPI.DAL.ViewModels.KpiSiteScoresMeasuresVM
@{
    ViewBag.Title = "Occupancy and Hours reporting";
    
    // decide up front whether the user has head office permissions,
    // generating an html attribute to insert into relevant span tags if not
    SystemUser user = ViewBag.LoggedInAs;
    string centralEdit = user.Role.AllowKpiCentralEntry ? "" : " data-uneditable=central";
    string editableClass = user.Role.AllowKpiCentralEntry ? " editable" : "";
}

<h2><a href="/Site/KpiEntry/@Model.Site.SiteID" title="@Model.Site.SiteName">@Model.Site.SiteName</a></h2>
<input type="hidden" value="@Model.Site.SiteID" id="SiteID" />

    <script type="text/javascript" src="@Url.ContentWithTimestamp("/Scripts/Cambian.FakeAjax.js")"> </script>
    <!-- <script type="text/javascript">
        $(function () {
            var config = {
                urls: {
                    "/KpiScore/Save": [{ SiteID: 1, KpiMeasureID: 3, WeekEndingDate: Date.parse("2014-05-30"), Value: 3 }, { SiteID: 1, KpiMeasureID: 5, WeekEndingDate: Date.parse("2014-05-30"), Value: 5}],
                    "/KpiScore/Approve": []
                }
            };
            $.fakeajax(config);
        });
    </script>-->


<div id="lightbox-overlay"></div>
<div class="lightbox-content">
    <div class="lightbox-inner">
        <label>Please Enter Number</label>
        <span id="incorrect-input-format-note">You have not entered the data correctly.</span>
        <input type="text" id="resultNumber" />
        <button class="enter">ENTER</button>
        <button class="close">X</button>
    </div>
</div>

<div id="comment-popup">
    <div class="lightbox-inner">
        <button class="close">X</button>
        <h5>COMMENTS : Manager</h5>
        <textarea></textarea>
        <button class="enter">ENTER COMMENT</button>
    </div>
</div>
<div id="container" class="spreadsheet">
    <div id="main-inner" style="margin-bottom: 50px;">
        @Html.Partial("_ApprovalsForWeek", Model)

        <div class="main-content-wrap">
            <div class="list-header-div" id="site-details-header-div">
                <label class="site-details-label" id="site-type-label">Type</label>
                <span class="site-details-span" id="site-type-span">@Model.Type</span>
                <label class="site-details-label" id="site-manager-label">Manager</label>
                <span class="site-details-span" id="site-manager-span">@Model.Site.SiteManager.Fullname</span>
                <label class="site-details-label" id="site-rm-label">RM</label>
                <span class="site-details-span" id="site-rm-span">@Model.Site.KpiRegion.RegionManager.Fullname</span>
                <label class="site-details-label" id="site-director-label">Director</label>
                <span class="site-details-span" id="site-director-span">@Model.Site.KpiRegion.ParentRegion.RegionManager.Fullname</span>
                <label class="site-details-label" id="site-region-label">Region</label>
                <span class="site-details-span" id="site-region-span">@Model.Site.KpiRegion.KpiRegionName</span>
            </div>
            
            <div class="list-header-div list-content top-summary-div">
                <h4>OCCUPANCY SUMMARY</h4>
                <label class="site-details-label">Capacity</label>
                <span class="site-details-span kpi-score@(editableClass)" kpi-measure-id="1"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(1))
                                                                                                           {@Model.measureIDsHashset[1]}</span>
                
                <label class="site-details-label">Occupancy at Beginning of Week</label>
                <span class="site-details-span kpi-score@(editableClass)" kpi-measure-id="206" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(206))
                                                                                                                      {@Model.measureIDsHashset[206]}</span>
                <label class="site-details-label editable">Starters</label>
                <span class="site-details-span kpi-score editable@{@Model.invalidClassesDictionary[203]}" kpi-measure-id="203">@if (Model.measureIDsHashset.ContainsKey(203))
                                                                                                                               {@Model.measureIDsHashset[203]}</span>
                <label class="site-details-label">Planned Leavers</label>
                <span class="site-details-span kpi-score editable@{@Model.invalidClassesDictionary[4]}" kpi-measure-id="4">@if (Model.measureIDsHashset.ContainsKey(4))
                                                                                                                           {@Model.measureIDsHashset[4]}</span>
                <label class="site-details-label kpi-score">Emergency Leavers</label>
                <span class="site-details-span kpi-score editable@{@Model.invalidClassesDictionary[5]}" kpi-measure-id="5">@if (Model.measureIDsHashset.ContainsKey(5))
                                                                                                                           {@Model.measureIDsHashset[5]}</span>
                <label class="site-details-label">Occupancy at End of Week</label>
                <span class="site-details-span kpi-score@{@Model.invalidClassesDictionary[205]}" kpi-measure-id="205" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(205))
                                                                                                                                             {@Model.measureIDsHashset[205]}</span>
            </div>
            

            <div class="list-header-div list-content top-summary-div form-comments">
                <H4>COMMENTS</H4>
                @{
                    foreach (var approval in Model.ApprovalObjects)
                    {
                        if (approval.SignoffLevel == 3 && approval.Comment != null)
                        {
                            <p class="comment rm-approved">@approval.Comment</p>
                            <p class="comment-details">Comment made by @approval.SubmittedByUser.Fullname on @approval.SubmittedDateTime.ToString("dd-MM-yyyy")</p>
                        }
                    }
                    foreach (var approval in Model.ApprovalObjects)
                    {
                        if (approval.SignoffLevel == 0 && approval.Comment != null)
                        {
                            <p class="comment submission">@approval.Comment</p>
                            <p class="comment-details">Comment made by @approval.SubmittedByUser.Fullname on @approval.SubmittedDateTime.ToString("dd-MM-yyyy")</p>
                        }
                    }
                }
            </div>

            <div class="list-header-div weekly-rota">
                <h3>WEEKLY ROTA (on shift only)</h3>
                <label class="header-label">Shift</label>
                <label class="header-label">Manager</label>
                <label class="header-label">TL</label>
                <label class="header-label">RCW</label>
                <label class="header-label">Agency</label>
            </div>
             
            <div class="list-content-div weekly-rota">
                <ul class="list-content">
                    <li>
                        <div class="label-wrapper"><label class="title-label">Hours per the Rota</label><p>Description</p></div>

                        <span class="kpi-score shift@(editableClass)" kpi-measure-id="126"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(126))
                                                                                                         {@Model.measureIDsHashset[126]} </span>
                        <span class="kpi-score manager@(editableClass)" kpi-measure-id="127"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(127))
                                                                                                           {@Model.measureIDsHashset[127]}</span>
                        <span class="kpi-score tl@(editableClass)" kpi-measure-id="128"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(128))
                                                                                                      {@Model.measureIDsHashset[128]}</span>
                        <span class="kpi-score rcw@(editableClass)" kpi-measure-id="129"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(129))
                                                                                                       {@Model.measureIDsHashset[129]}</span>
                        <span class="kpi-score agency@(editableClass)" kpi-measure-id="130"@(centralEdit)>@if (Model.measureIDsHashset.ContainsKey(130))
                                                                                                          {@Model.measureIDsHashset[130]}</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">Total hours worked on shift</label><p>Description</p></div>

                        <span class="kpi-score manager@{@Model.invalidClassesDictionary[116]}" kpi-measure-id="116">@if (Model.measureIDsHashset.ContainsKey(116))
                                                                                                                    {@Model.measureIDsHashset[116]}</span>
                                
                        <span class="kpi-score editable manager@{@Model.invalidClassesDictionary[117]}" kpi-measure-id="117">@if (Model.measureIDsHashset.ContainsKey(117))
                                                                                                                             {@Model.measureIDsHashset[117]}</span>
                        
                        <span class="kpi-score editable tl@{@Model.invalidClassesDictionary[118]}" kpi-measure-id="118">@if (Model.measureIDsHashset.ContainsKey(118))
                                                                                                                        {@Model.measureIDsHashset[118]}</span>
                        
                        <span class="kpi-score editable rcw@{@Model.invalidClassesDictionary[119]}" kpi-measure-id="119">@if (Model.measureIDsHashset.ContainsKey(119))
                                                                                                                         {@Model.measureIDsHashset[119]}</span>
                        
                        <span class="kpi-score editable agency@{@Model.invalidClassesDictionary[120]}" kpi-measure-id="120">@if (Model.measureIDsHashset.ContainsKey(120))
                                                                                                                            {@Model.measureIDsHashset[120]}</span>
                    <li>
                        <div class="label-wrapper"><label class="title-label">Variance to Rota</label><p>Description</p></div>

                        <span class="kpi-score shift" kpi-measure-id="121" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(121))
                                                                                                  {@Model.measureIDsHashset[121]}</span>
                        
                        <span class="kpi-score manager" kpi-measure-id="122" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(122))
                                                                                                    {@Model.measureIDsHashset[122]}</span>
                        
                        <span class="kpi-score tl" kpi-measure-id="123" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(123))
                                                                                               {@Model.measureIDsHashset[123]}</span>
                        
                        <span class="kpi-score rcw" kpi-measure-id="124" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(124))
                                                                                                {@Model.measureIDsHashset[124]}</span>
                        
                        <span class="kpi-score agency" kpi-measure-id="125" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(125))
                                                                                                   {@Model.measureIDsHashset[125]}</span>
                    </li>
                </ul>
            </div>

            <div class="list-header-div off-shift">
                <h3>Off Shift Hours - for the week</h3>
                <label class="header-label">Holiday</label>
                <label class="header-label">Sickness</label>
                <label class="header-label">Training</label>
                <label class="header-label">Suspension</label>
                <label class="header-label">Holiday</label>
                <label class="header-label">Sickness</label>
            </div>

            <div class="list-subheader-div off-shift">
                <h4 class="first-h4">Paid Additional Costs - for the week</h4>
                <h4>Unpaid - for the week</h4>
            </div>
             
            <div class="list-content-div off-shift">
                <ul class="list-content">
                    <li>
                        <div class="label-wrapper"><label class="title-label">Manager</label><p>Description</p></div>
                        <span class="kpi-score editable holiday@{@Model.invalidClassesDictionary[132]}" kpi-measure-id="132">@if (Model.measureIDsHashset.ContainsKey(132))
                                                                                                                             {
                             @Model.measureIDsHashset[132]
                                                                                                                             }</span>
                        <span class="kpi-score editable sickness@{@Model.invalidClassesDictionary[136]}" kpi-measure-id="136">@if (Model.measureIDsHashset.ContainsKey(136))
                                                                                                                              {@Model.measureIDsHashset[136]}</span>
                        <span class="kpi-score editable training@{@Model.invalidClassesDictionary[140]}" kpi-measure-id="140">@if (Model.measureIDsHashset.ContainsKey(140))
                                                                                                                              { @Model.measureIDsHashset[140]}</span>
                        <span class="kpi-score editable suspension@{@Model.invalidClassesDictionary[144]}" kpi-measure-id="144">@if (Model.measureIDsHashset.ContainsKey(144))
                                                                                                                                { @Model.measureIDsHashset[144]}</span>
                        <span class="kpi-score editable training2@{@Model.invalidClassesDictionary[148]}" kpi-measure-id="148">@if (Model.measureIDsHashset.ContainsKey(148))
                                                                                                                               { @Model.measureIDsHashset[148]}</span>
                        <span class="kpi-score editable suspension2@{@Model.invalidClassesDictionary[152]}" kpi-measure-id="152">@if (Model.measureIDsHashset.ContainsKey(152))
                                                                                                                                 { @Model.measureIDsHashset[152]}</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">TM</label><p>Description</p></div>
                        <span class="kpi-score editable holiday@{@Model.invalidClassesDictionary[133]}" kpi-measure-id="133">@if (Model.measureIDsHashset.ContainsKey(133))
                                                                                                                             {@Model.measureIDsHashset[133] }</span>
                        <span class="kpi-score editable sickness@{@Model.invalidClassesDictionary[137]}" kpi-measure-id="137">@if (Model.measureIDsHashset.ContainsKey(137))
                                                                                                                              {@Model.measureIDsHashset[137] }</span>
                        <span class="kpi-score editable training@{@Model.invalidClassesDictionary[141]}" kpi-measure-id="141">@if (Model.measureIDsHashset.ContainsKey(141))
                                                                                                                              {@Model.measureIDsHashset[141] }</span>
                        <span class="kpi-score editable suspension@{@Model.invalidClassesDictionary[145]}" kpi-measure-id="145">@if (Model.measureIDsHashset.ContainsKey(145))
                                                                                                                                {@Model.measureIDsHashset[145] }</span>
                        <span class="kpi-score editable training2@{@Model.invalidClassesDictionary[149]}" kpi-measure-id="149">@if (Model.measureIDsHashset.ContainsKey(149))
                                                                                                                               {@Model.measureIDsHashset[149] }</span>
                        <span class="kpi-score editable suspension2@{@Model.invalidClassesDictionary[153]}" kpi-measure-id="153">@if (Model.measureIDsHashset.ContainsKey(153))
                                                                                                                                 { @Model.measureIDsHashset[153]}</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">RCW</label><p>Description</p></div>
                        <span class="kpi-score editable holiday@{@Model.invalidClassesDictionary[134]}" kpi-measure-id="134">@if (Model.measureIDsHashset.ContainsKey(134))
                                                                                                                             {@Model.measureIDsHashset[134] }</span>
                        <span class="kpi-score editable sickness@{@Model.invalidClassesDictionary[138]}" kpi-measure-id="138">@if (Model.measureIDsHashset.ContainsKey(138))
                                                                                                                              {@Model.measureIDsHashset[138] }</span>
                        <span class="kpi-score editable training@{@Model.invalidClassesDictionary[142]}" kpi-measure-id="142">@if (Model.measureIDsHashset.ContainsKey(142))
                                                                                                                              {@Model.measureIDsHashset[146] }</span>
                        <span class="kpi-score editable suspension@{@Model.invalidClassesDictionary[146]}" kpi-measure-id="146">@if (Model.measureIDsHashset.ContainsKey(146))
                                                                                                                                {@Model.measureIDsHashset[146] }</span>
                        <span class="kpi-score editable training2@{@Model.invalidClassesDictionary[150]}" kpi-measure-id="150">@if (Model.measureIDsHashset.ContainsKey(150))
                                                                                                                               {@Model.measureIDsHashset[150] }</span>
                        <span class="kpi-score editable suspension2@{@Model.invalidClassesDictionary[154]}" kpi-measure-id="154">@if (Model.measureIDsHashset.ContainsKey(154))
                                                                                                                                 {@Model.measureIDsHashset[154] }</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">Total</label><p>Description</p></div>
                        <span class="kpi-score holiday" kpi-measure-id="135" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(135))
                                                                                                    {@Model.measureIDsHashset[135] }</span>
                        <span class="kpi-score sickness" kpi-measure-id="139" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(139))
                                                                                                     { @Model.measureIDsHashset[139]}</span>
                        <span class="kpi-score training" kpi-measure-id="143" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(143))
                                                                                                     {@Model.measureIDsHashset[143] }</span>
                        <span class="kpi-score suspension" kpi-measure-id="147" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(147))
                                                                                                       {@Model.measureIDsHashset[147] }</span>
                        <span class="kpi-score training2" kpi-measure-id="151" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(151))
                                                                                                      {@Model.measureIDsHashset[151] }</span>
                        <span class="kpi-score suspension2" kpi-measure-id="155" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(155))
                                                                                                        {@Model.measureIDsHashset[155] }</span>
                    </li>
                </ul>
            </div>

            <div class="list-header-div on-shift">
                <h3>On Shift Performance</h3>
                <label class="header-label">ROTA</label>
                <label class="header-label">Basic - Mgr</label>
                <label class="header-label">Basic - TL</label>
                <label class="header-label">Basic - RCW</label>
                <label class="header-label">Agency</label>
                <label class="header-label">Total</label>
                <label class="header-label">Variance</label>
            </div>
             
            <div class="list-content-div on-shift">
                <ul class="list-content">
                    <li>
                        <div class="label-wrapper"><label class="title-label">For the Month</label><p>Description</p></div>
                        <span class="rota kpi-score" kpi-measure-id="156" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(156))
                                                                                                 {@Model.measureIDsHashset[156] }</span>
                        <span class="basic-mgr kpi-score" kpi-measure-id="157" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(157))
                                                                                                      {@Model.measureIDsHashset[157] }</span>
                        <span class="basic-tl kpi-score" kpi-measure-id="158" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(158))
                                                                                                     {@Model.measureIDsHashset[158] }</span>
                        <span class="basic-rcw kpi-score" kpi-measure-id="159" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(159))
                                                                                                      {@Model.measureIDsHashset[159] }</span>
                        <span class="agency kpi-score" kpi-measure-id="160" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(160))
                                                                                                   {@Model.measureIDsHashset[160] }</span>
                        <span class="total kpi-score" kpi-measure-id="161" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(161))
                                                                                                  {@Model.measureIDsHashset[161] }</span>
                        <span class="variance kpi-score" kpi-measure-id="162" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(162))
                                                                                                     {@Model.measureIDsHashset[162] }</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">Year to Date</label><p>Description</p></div>
                        <span class="rota kpi-score" kpi-measure-id="176" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(176))
                                                                                                 {@Model.measureIDsHashset[176] }</span>
                        <span class="basic-mgr kpi-score" kpi-measure-id="177" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(177))
                                                                                                      {@Model.measureIDsHashset[177] }</span>
                        <span class="basic-tl kpi-score" kpi-measure-id="178" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(178))
                                                                                                     {@Model.measureIDsHashset[178] }</span>
                        <span class="basic-rcw kpi-score" kpi-measure-id="179" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(179))
                                                                                                      {@Model.measureIDsHashset[179] }</span>
                        <span class="agency kpi-score" kpi-measure-id="180" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(180))
                                                                                                   {@Model.measureIDsHashset[180] }</span>
                        <span class="total kpi-score" kpi-measure-id="181" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(181))
                                                                                                  {@Model.measureIDsHashset[181] }</span>
                        <span class="variance kpi-score" kpi-measure-id="182" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(182))
                                                                                                     {@Model.measureIDsHashset[182] }</span>
                    </li>
                </ul>
            </div>

            <div class="list-header-div off-shift-performance">
                <h3>Off Shift Performance</h3>
                <label class="header-label">Holiday</label>
                <label class="header-label">Sickness</label>
                <label class="header-label">Training</label>
                <label class="header-label">Suspension</label>
                <label class="header-label">Total</label>
                <label class="header-label">Holiday<br />%</label>
                <label class="header-label">Sickness<br />%</label>
                <label class="header-label">Training<br />%</label>
                <label class="header-label">Suspension<br />%</label>
                <label class="header-label">Total<br />%</label>
            </div>
             
            <div class="list-content-div off-shift-performance">
                <ul class="list-content">
                    <li>
                        <div class="label-wrapper"><label class="title-label">For the Month</label><p>Description</p></div>
                        <span class="holiday kpi-score" kpi-measure-id="163" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(163))
                                                                                                    {@Model.measureIDsHashset[163] }</span>
                        <span class="sickness kpi-score" kpi-measure-id="165" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(165))
                                                                                                     {@Model.measureIDsHashset[165] }</span>
                        <span class="training kpi-score" kpi-measure-id="166" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(166))
                                                                                                     {@Model.measureIDsHashset[166] }</span>
                        <span class="suspension kpi-score" kpi-measure-id="167" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(167))
                                                                                                       {@Model.measureIDsHashset[167] }</span>
                        <span class="total kpi-score" kpi-measure-id="168" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(168))
                                                                                                  {@Model.measureIDsHashset[168] }</span>
                        <span class="holiday kpi-score" kpi-measure-id="191" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(191))
                                                                                                    {@Model.measureIDsHashset[191] }</span>
                        <span class="sickness kpi-score" kpi-measure-id="192" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(192))
                                                                                                     {@Model.measureIDsHashset[192] }</span>
                        <span class="training kpi-score" kpi-measure-id="193" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(193))
                                                                                                     {@Model.measureIDsHashset[193] }</span>
                        <span class="suspension kpi-score" kpi-measure-id="194" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(194))
                                                                                                       {@Model.measureIDsHashset[194] }</span>
                        <span class="total kpi-score" kpi-measure-id="195" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(195))
                                                                                                  {@Model.measureIDsHashset[195] }</span>
                    </li>
                    <li>
                        <div class="label-wrapper"><label class="title-label">Year to Date</label><p>Description</p></div>
                        <span class="holiday kpi-score" kpi-measure-id="186" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(186))
                                                                                                    {@Model.measureIDsHashset[186] }</span>
                        <span class="sickness kpi-score" kpi-measure-id="187" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(187))
                                                                                                     {@Model.measureIDsHashset[187] }</span>
                        <span class="training kpi-score" kpi-measure-id="188" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(188))
                                                                                                     {@Model.measureIDsHashset[188] }</span>
                        <span class="suspension kpi-score" kpi-measure-id="189" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(189))
                                                                                                       {@Model.measureIDsHashset[189] }</span>
                        <span class="total kpi-score" kpi-measure-id="190" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(190))
                                                                                                  {@Model.measureIDsHashset[190] }</span>
                        <span class="holiday kpi-score" kpi-measure-id="198" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(198))
                                                                                                    {@Model.measureIDsHashset[198] }</span>
                        <span class="sickness kpi-score" kpi-measure-id="199" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(199))
                                                                                                     {@Model.measureIDsHashset[132] }</span>
                        <span class="training kpi-score" kpi-measure-id="200" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(200))
                                                                                                     {@Model.measureIDsHashset[200] }</span>
                        <span class="suspension kpi-score" kpi-measure-id="201" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(201))
                                                                                                       {@Model.measureIDsHashset[201] }</span>
                        <span class="total kpi-score" kpi-measure-id="202" data-uneditable="calc">@if (Model.measureIDsHashset.ContainsKey(202))
                                                                                                  {@Model.measureIDsHashset[202] }</span>
                    </li>
                </ul>
            </div>

            <div id="main-error-div">
                Unable to connect to Server. Your changes have not been saved.
            </div>

    </div>

        <div class="main-content-wrap">

         @foreach (var KpiGroup in Model.SiteScoresMeasures.GroupBy(kg => kg.KpiGroupID).Where(kg => kg.Key != 4).OrderBy(kg => kg.Key))
         {
            <div class="list-header-div">
                <h3>@KpiGroup.First().KpiGroupName</h3>
                <label class="header-label target">Target</label>
                <label class="header-label">Actual</label>
                <label class="header-label">Monthly</label>
                <label class="header-label result">Result</label>
            </div>
             foreach (var measure in KpiGroup.OrderBy(m => m.KpiMeasureID))
             {
                 if (measure.KpiGroupID != 4)
                 {
                 <div class="list-content-div">
                    <ul class="list-content">
                        <li>
                            <div class="label-wrapper"><label class="title-label">@measure.KpiMeasureName</label><p>@measure.Guidance</p></div>

                                <!-- Targets -->
                                @if (@measure.TargetValue != null)
                                {
                                    <span class="kpi-target valid" kpi-measure-id="@measure.KpiMeasureID">
                                        <span class="inner-target-interval">
                                            @if (@measure.TargetIsMaximum)
                                            {
                                                <p class="minmax">MAX</p>
                                            }
                                            else
                                            {
                                                <p class="minmax">MIN</p>    
                                            }

                                            @if (@measure.MonthlyMeasureID != null)
                                            {
                                                <p>MONTHLY</p>
                                            }
                                            else
                                            {
                                                <p>WEEKLY</p> 
                                            }
                                        </span>
                                        <p class="targetval">@measure.TargetValue</p>
                                    </span>
                                }
                                else
                                {
                                    <span class="kpi-target void" kpi-measure-id="@measure.KpiMeasureID">
                                    
                                    </span>
                                }
                   
                       <!-- Actual Measures -->
                       @if (measure.KpiFunctionID == 1)
                       {
                           // Editable data entry measures 
                           if (measure.Value.HasValue)
                           {
                               <span class="kpi-score@(editableClass)"@(centralEdit) kpi-measure-id="@measure.KpiMeasureID">@(measure.Value.HasValue ? measure.Value.Value.ToString() : "")</span>
                           }
                       }
                       else
                       {
                           // Measures which will be calculated by the system, therefore not editable
                           if (measure.Value.HasValue)
                           {
                           <span class="kpi-score" data-uneditable="calc" kpi-measure-id="@measure.KpiMeasureID">@(measure.Value.HasValue ? measure.Value.Value.ToString() : "")</span>
                           }
                       }

                       <!-- Accum. Totals Column -->

                       @if (measure.MonthlyMeasureID != null)
                       {
                           <span class="monthly-total" data-uneditable="calc" kpi-measure-id="@measure.MonthlyMeasureID">
                           @if (measure.MonthlyValue != null)
                           {
                                @measure.MonthlyValue   
                           }
                           </span>
                       }
                       else
                       {
                           <span class="dummy-cell" data-uneditable="calc">
                           
                           </span>
                       }

                            <!-- Result column -->
                        
                            <span class="kpi-result" kpi-measure-id="@measure.MonthlyMeasureID">

                            @if (@measure.TargetValue != null
                                && @measure.Value != null)
                            {
                                if (@measure.TargetIsMaximum)
                                {
                                    if (@measure.MonthlyMeasureID != null)
                                    {
                                        if (@measure.MonthlyValue <= @measure.TargetValue)
                                        {
                                            <p class="target-reached"></p>
                                        }
                                        else
                                        {
                                            <p class="target-failed"></p>
                                        }
                                    }
                                    else
                                    {
                                        if (@measure.Value <= @measure.TargetValue)
                                        {
                                            <p class="target-reached"></p>
                                        }
                                        else
                                        {
                                            <p class="target-failed"></p>
                                        }
                                    }
                                }
                                else
                                {
                                    if (@measure.MonthlyMeasureID != null)
                                    {
                                        if (@measure.MonthlyValue >= @measure.TargetValue)
                                        {
                                            <p class="target-reached"></p>
                                        }
                                        else
                                        {
                                            <p class="target-failed"></p>
                                        }
                                    }
                                    else
                                    {
                                        if (@measure.Value >= @measure.TargetValue)
                                        {
                                            <p class="target-reached"></p>
                                        }
                                        else
                                        {
                                            <p class="target-failed"></p>
                                        }
                                    }
                                }
                            }
                            else if (@measure.Value == null)
                            {
                                <p></p>
                            }
                            </span>

                            <!-- Now check if score has target, and add the comment elements if it does -->
                            @if (@measure.TargetValue != null
                            && @measure.Value != null)
                            {
                                if (@measure.TargetIsMaximum)
                                {
                                    if (@measure.MonthlyMeasureID != null)
                                    {
                                        if (@measure.MonthlyValue > @measure.TargetValue)
                                        {
                                            if (@measure.Comment == null)
                                            {
                                                    <p class="score-comment"></p>
                                                    <span class="score-comment-button empty">?</span>
                                            }
                                            else
                                            {
                                                <p class="score-comment">@measure.Comment</p>
                                                <span class="score-comment-button">...</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (@measure.Value > @measure.TargetValue)
                                        {
                                            if (@measure.Comment == null)
                                            {
                                                    <p class="score-comment"></p>
                                                <span class="score-comment-button empty">?</span>
                                            }
                                            else
                                            {
                                                <p class="score-comment">@measure.Comment</p>
                                                <span class="score-comment-button">...</span>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    if (@measure.MonthlyMeasureID != null)
                                    {
                                        if (@measure.MonthlyValue < @measure.TargetValue)
                                        {
                                            if (@measure.Comment == null)
                                            {
                                                    <p class="score-comment"></p>
                                                    <span class="score-comment-button empty">?</span>
                                            }
                                            else
                                            {
                                                <p class="score-comment">@measure.Comment</p>
                                                <span class="score-comment-button">...</span>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (@measure.Value < @measure.TargetValue)
                                        {
                                            if (@measure.Comment == null)
                                            {
                                                    <p class="score-comment"></p>
                                                    <span class="score-comment-button empty">?</span>
                                            }
                                            else
                                            {
                                                <p class="score-comment">@measure.Comment</p>
                                                <span class="score-comment-button">...</span>
                                            }
                                        }
                                    }
                                }
                            }
                        </li>
                    </ul>
                </div>
                 }
             }

         }

    </div>

    <div id="uneditable-note"></div>
    <div id="red-comment-popup">You cannot submit this form until you enter a comment for this KPI.</div>
    <div id="blue-comment-popup">Click to read the comment left for this KPI.</div>
</div>
    
<script type="text/javascript" src="@Url.ContentWithTimestamp("/Scripts/CambianKpi.KpiEntry.js")"></script><!-- NEW -->
<script type="text/javascript" src="@Url.ContentWithTimestamp("/Scripts/Tipsy.js")"></script>

<!-- END NEW -->
<script type='text/javascript'>
    $(function () {

        $('.kpi-score[data-uneditable="calc"], .kpi-score[data-uneditable="central"], .kpi-score[data-uneditable="approved"]').tipsy();

    });
</script>